[Desktop Entry]
Name=Pardus Java Installer
Name[tr]=Pardus Java Kurucu
GenericName=Java Installer
GenericName[tr]=Java Kurucu
Comment=Install & Manage different Java versions easily.
Comment[tr]=Farklı Java sürümlerini kolayca kurun ve yönetin.
Exec=pardus-java-installer
Icon=pardus-java-installer
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=java;installer;pardus;
