Source: pardus-java-installer
Section: utils
Priority: optional
Maintainer: Emin Fedar <emin.fedar@pardus.org.tr>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools
Standards-Version: 4.3.0
Homepage: https://www.pardus.org.tr

Package: pardus-java-installer
Architecture: amd64
Depends: ${misc:Depends},
         ${python3:Depends},
         python3 (>=3.5),
         python3-gi,
         gir1.2-gtk-3.0
Description: Pardus Java Installer
 Install & Manage Java versions easily.
